.upper
  .login-here 
  - if controller_name != 'sessions'
    .login-here LOGIN HERE
    = link_to "Log in", new_session_path(resource_name), class: 'Button'
    %br/
  - if devise_mapping.registerable? && controller_name != 'registrations'
    .login-here SIGNUP HERE
    = link_to "Sign up", new_registration_path(resource_name), class: 'Button'
    %br/
