.show
  .show__box
    .show__box__inner
      %h1 ワークショップ詳細
      .nwork-name     
        =@work.name
      .work-photo 
        = image_tag @work.photo.url, :size => '500x400', :alt => "画像", :class => "work-photo__img"
      .work-introduction      
        =@work.introduction
      .work-address      
        =@work.address
      .work-url      
        =@work.url
      .infomation
        .infomation__star 
        .infomation__directmail ダイレクトメッセージを送る
.edit
  = link_to edit_work_path(@work), calss: "editBtn" do
    .editBtn__btn 編集する
  = link_to work_path(@work),method: :delete, class: "destroyBtn" do
    .destroyBtn__btn 削除する
  .return
    = link_to "トップページへ戻る", root_path, method: :get, class: 'return-btn'
