.list
  .list__box
    .list__box__inner
      .list-title FOLLOWERS MEMBER
      - @user.followers.each do |user|
        .personal-name
          = image_tag user.image.url,:size => '50x40', class:"user-image" 
          = link_to user.name, user_path(user), class:"user-name"

      .inner__return
        = link_to "トップページへ戻る", root_path, method: :get, class: 'return-btn'