.header__inner{
  &__main{
    &__logo{
      &__img{
        width:70px;
        height:70px;
        padding:30px 30px 0px 100px;
      }
    }
    .subject{
      font-size:20px;
      font-weight:bold;
      margin:0px 0px 10px 50px;
      color:rgba(8, 19, 8, 0.24);

    }
  }
}

.toppage{
  .header-list{
    &__content{
    display:flex;
    justify-content:left;
    align-items:center;
    background-color:black;
    height:50px;
    padding-left:50px;
      &--logout{
        &__btn{
          text-decoration:none;
          font-weight:bold;
          color:white;
          font-size:18px;
        }
      }
      &--mypage{
        &__btn{
          text-decoration:none;
          font-weight:bold;
          color:white;
          font-size:18px;
          margin-left:50px;
        }
      }
      &--start{
        &__btn{
          text-decoration:none;
          font-weight:bold;
          color:white;
          font-size:18px;
          margin-left:50px;
        }
      }
      &--login{
        &__btn{
          text-decoration:none;
          font-weight:bold;
          color:white;
          font-size:18px;
        }
      }
      &--new{
        &__btn{
          text-decoration:none;
          font-weight:bold;
          color:white;
          font-size:18px;
          margin-left:50px;
        }
      }
    }
  }
  .topimage{
    &__img{
      width:100%;
      height:100%;
    }
  }
  .header-title{
    height:60px;
    background-color:rgba(61, 77, 54, 0.404);
    text-align:center;
    color:white;
    font-size:36px;
  }
  .main{
    &__inner{
      .workbox{
        display:flex;
        justify-content:center;
        &__content{
          margin:25px;
          .link-all{
            .workbox__content__photo{
              &__img{
                width:240px;
                height:180px;
                text-align:center;
                

              }
            }
          
            .workbox__content__group{
              &__text{
                list-style:none;
                color:black;
                 li.workshop__name{
                  font-size:18px;
                  text-decoration:none;

                }
                .workshop__in{
                  .workshop__middle{
                    li.workshop__address{
                      font-size:12px;
                      text-decoration:none;
                      margin-top:10px;

                    }
                  }
                }
              }
            }
          }
          
        }
      }
    }
  }

}
.pagenation{
  background-color:gray;
  height:50px;
  margin-top:50px;
}
.bottomimage{
  &__img{
    width:100%;
    height:100%;
  }
}

.footer{
  background-color:black;
  &__inner{
    &__title{
      text-align:center;
      color:rgb(165, 177, 165);
      font-size:24px;
      padding-top:70px;
      font-weight:bold;
      
    }
    &__link{
      display:flex;
      justify-content:center;
      color:white;
      font-size:14px;
      margin-top:8px;
      &__facebook{
        
      }
      &__twitter{
        margin:0px 20px;
        
      }
      &__instagram{
        
      }
      &__youtube{
        margin:0px 0px 0px 20px;
        
      }
    }
    &__info{
      display:flex;
      justify-content:center;
      font-size:12px;
      color:white;
      margin-top:150px;
      padding-bottom:10px;
      list-style:none;
      li{
        margin-left:40px;
      }
    }
  }
}


.startbtn{
  position:fixed;
  bottom: 32px;
  left: 32px;
  width: 120px;
  height: 120px;
  background-color: gray;
  text-align:center;
  opacity:70%;
  padding-top:15px;
  cursor: pointer;
  // position: relative;
  &:hover{
    opacity:50%;
  }
  
  &__link{
    color: white;
    text-decoration:none;
    font-size:14px;
    padding-top:15px;
  }
  &__icon{
    margin-top:5px;
    position: absolute;
    top:40px;
    left: 35px;
    .eye{
      width:55px;
      height:55px;
    }
  }
  .sell-btn {
    padding-top: 15px;
    color: white;
    display: block;
    height: 100%;
    width: 100%;

  }
}

.pagination {
  display:flex;
  justify-content: center;
}

.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  text-decoration:none;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #6996793d;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}


